.vs/
*.suo
obj/
*.exe
.vs/EducarWeb/v17/.suo
.vs/slnx.sqlite
bin/Debug/EducarWeb.exe
bin/Debug/EducarWeb.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/EducarWeb.CrearMateriaForm.resources
obj/Debug/EducarWeb.csproj.AssemblyReference.cache
obj/Debug/EducarWeb.csproj.CoreCompileInputs.cache
obj/Debug/EducarWeb.csproj.GenerateResource.cache
obj/Debug/EducarWeb.csproj.FileListAbsolute.txt
obj/Debug/EducarWeb.exe
obj/Debug/EducarWeb.GestionRolesForm.resources
obj/Debug/EducarWeb.ListarMateriasForm.resources
obj/Debug/EducarWeb.LoginForm.resources
obj/Debug/EducarWeb.MainForm.resources
obj/Debug/EducarWeb.MateriaForm.resources
obj/Debug/EducarWeb.PagoForm.resources
obj/Debug/EducarWeb.pdb
obj/Debug/EducarWeb.SolicitarInscripcionForm.resources
obj/Debug/EducarWeb.SolicitudesInscripcionForm.resources
