# Ignorar archivos y carpetas generados por Visual Studio
.vs/
/bin/
/obj/
*.user
*.suo
*.sln.docstates
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.idb
*.res
*.aps
*.userprefs
*$(ReSharper)**
*_ReSharper.*
*.suo
*.user
*.suo
_ReSharper*/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
ipch/
[Tt]est[Rr]esult*
[Sm]ip[Bb]in
[Ll]og/
[Ll]ogs/

# Ignorar archivos de resumen de código
Thumbs.db
[Tt]humbs.db
[Bb]in*/
[Oo]bj*/

# Ignorar archivos de respaldo y copias
*.[Bb]ak
*~.nib

# Ignorar archivos generados por Rider (IDE de JetBrains)
.idea/
.idea_modules/

# Ignorar archivos y carpetas generados por NuGet
packages/
*.nupkg
[nN]uget

# Ignorar carpetas específicas generadas por Windows Forms
obj/Debug/
obj/Release/
.vs/EducarWeb/FileContentIndex/8f94f69a-a03f-423b-8f14-0fdcd53180b7.vsidx
.vs/EducarWeb/FileContentIndex/30a1583d-92d8-4cad-8772-8ed36f77bc0d.vsidx
.vs/EducarWeb/FileContentIndex/67f34374-8b3e-4f86-ac6c-b2c12ed64c92.vsidx
.vs/EducarWeb/FileContentIndex/bd3b83fe-be0f-40a2-872e-56bbed85d552.vsidx
.vs/EducarWeb/FileContentIndex/c64b694e-9dde-46f7-b14e-845162d86ea2.vsidx
.vs/EducarWeb/v17/.suo
.vs/EducarWeb/v17/.suo
.vs/slnx.sqlite
